@font-face {
  font-family: 'FSAlbertArabicBold';
  src: url('fonts/FSAlbertArabic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'FSAlbertArabicBold', sans-serif;
  background-color: #072b16;
  color: #fff;
  text-align: center;
}

.container {
  margin: 20px auto;
  max-width: 400px;
  padding: 10px; /* مساحة داخلية */
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.container p {
  margin-bottom: 10px;
}

#userName {
  width: 50%;
  max-width: 300px;
  display: block;
  margin: 0 auto 10px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* زر توليد الصورة */
#generateBtn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 12px 24px;
  background-color: #0d4d26;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'FSAlbertArabicBold', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#generateBtn:hover {
  background-color: #1c7d42;
}

/* عند عرض الصورة */
.result {
  margin-top: 20px;
  display: none;
  text-align: center;
}

/* التحكم في حجم الكانفاس */
#greetingCanvas {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* زر التحميل */
#downloadLink {
  display: inline-block;
  margin-top: 10px;
  background-color: #0d4d26;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'FSAlbertArabicBold', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#downloadLink:hover {
  background-color: #1c7d42;
}
